/* 1 Seção */
body {
    font-family: 'Tahoma';
    margin: 0;
}
.secao {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.paragrafos {
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}
.azul-top {
    background-color: #afddfb;
}
#imagem-top {
    width: 150px;
}
.paragrafo-top {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}
header > .azul-top > nav > .paragrafo-top > a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin-top: none;
    margin-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
}
.azul-top > nav > p > a:hover {
    background-color: #0beec4;
    color: #8800ff;
    font-size: 20px;
    transition-duration: 0.6s;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
}
/* Fim da 1 Seção*/

/* 2 Seção */
#primeira-casa {
    margin-top: 50px;
    padding-top: none;
}
.texto-azul {
    color: #1c81c0;
    font-weight: bold;
}
.texto-amarelo {
    color: #fff81b;
    font-weight: bold;
}
/* Fim da 2 Seção */

/* 3 Seção*/
h1 {
   color: #1d1d1d;
   margin-bottom: 5px;
}
.subtitulo {
    color: #1c81c0;
    margin-top: 0px;
    font-weight: normal;
}
.segunda-casa {
    width: 450px;
}
/* Fim da 3 Seção */

/* 4 Seção */
.imagem-de-fundo {
    background-color: #1d80c1;
}
.subtitulo-main {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}
.subtitulo-main-2 {
    font-size: 28px;
    line-height: 42px;
}
.paragrafo-main {
   color: #ffffff;
   line-height: 42px;
   font-size: 22px;
   text-align: center;
   width: 700px;
}
.imagem-de-fundo > nav {
    margin: 40px auto;
    width: 135px;
}
.imagem-de-fundo > nav > ul {
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}
.imagem-de-fundo > nav > ul > li > a {
    color: white;
}
/* Fim da 4 Seção */

/* 5 Seção ( Reaproveitei algumas classes das 3 e 4 Seções ) */

/* 6 Secão */
.paragrafo-footer {
    color: #ffffff;
    padding: 15px;
    background-color: #1d1d1d;
    margin: 30px auto;
}
footer > .imagem-de-fundo > nav > ul {
    margin: 40px auto;
    list-style: none;
    width: 210px;
}
footer > .imagem-de-fundo > nav > ul > li {
    text-align: center;
}
footer > .imagem-de-fundo > nav > ul > li > a  {
    margin-top: 15px;
    font-size: 18px;
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}
/* Fim da 6 Seção */
